<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer form</title>
</head>
<body>
    <nav><a th:href="@{/customers}">Back</a></nav>

    <h1 th:text="${customer.id != null} ? 'Edit customer' : 'New customer'"></h1>

    <form th:action="@{/customers/save/}" method="post" th:object="${customer}">
        <input type="hidden" th:field="*{id}"/>

        <label for="name">Name:</label>
        <input id="name" type="text" th:field="*{name}" required />
        <br/><br/>

        <button type="submit">Save</button>
    </form>
</body>
</html>